In [1]:
import pandas as pd
import numpy as np


import seaborn as sn
import matplotlib.pyplot as plt

In [2]:
cen_normal = "../cenarios/cen_nova_versao/normal/"
cen_media2 = "../cenarios/cen_nova_versao/media2/"
cen_media5 = "../cenarios/cen_nova_versao/media5/"

cen_normal_rate = cen_normal+"rates/"
cen_media2_rate = cen_media2+"rates/"
cen_media5_rate = cen_media5+"rates/"

In [3]:
def metrics_plots(cen_rate_path):
    all_cen = ['k%d_l%d_h%d' %(x,y,z) for z in [1,2,3] for x,y in zip([1,2,3,4,5,6],[1,2,3,4,5,6])]
    df_var_h = pd.DataFrame(columns=['tp_rate', 'fp_rate', 'precisao', 'fn_rate', 'total_error', 'f1_score'], index=np.arange(1,7))
    dfs = []
    count_cen = 0
    for cen in all_cen:
        df_var_h.iloc[count_cen] = (pd.read_csv(cen_rate_path+"metricas_"+cen+".csv", index_col=0).loc[0]).apply(lambda x: np.round(x,3)*100)
        count_cen +=1        
        if count_cen > 5:
            count_cen = 0
            dfs.append(df_var_h)
            display(df_var_h)
            df_var_h = pd.DataFrame(columns=['tp_rate', 'fp_rate', 'precisao', 'fn_rate', 'total_error', 'f1_score'], index=np.arange(1,7))

In [6]:
metrics_plots(cen_media5_rate)

  tp_rate fp_rate precisao fn_rate total_error f1_score
1    33.3     0.9     66.7    66.7         4.2     44.4
2      50     1.8       60      50         4.2     54.5
3      50     1.8       60      50         4.2     54.5
4    66.7     2.6     57.1    33.3         4.2     61.5
5    66.7     2.6     57.1    33.3         4.2     61.5
6    66.7     2.6     57.1    33.3         4.2     61.5

  tp_rate fp_rate precisao fn_rate total_error f1_score
1    33.3       0      100    66.7         3.3       50
2    33.3     0.9     66.7    66.7         4.2     44.4
3    33.3     1.8       50    66.7           5       40
4      50     1.8       60      50         4.2     54.5
5      50     1.8       60      50         4.2     54.5
6      50     1.8       60      50         4.2     54.5

  tp_rate fp_rate precisao fn_rate total_error f1_score
1    33.3     0.9     66.7    66.7         4.2     44.4
2    33.3     1.8       50    66.7           5       40
3      50     1.8       60      50         4.2     54.5
4      50     0.9       75      50         3.3       60
5      50     0.9       75      50         3.3       60
6      50     0.9       75      50         3.3       60

In [5]:
all_cen = ['k%d_l%d_h%d' %(x,y,z)   for z in [1,2,3] for x,y in zip([1,2,3,4,5,6],[1,2,3,4,5,6])]

i = 0
count_cen = 0
for cen in all_cen:
    display(pd.read_csv(cen_normal+"rates/"+"metricas_"+cen+".csv", index_col=0))

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.008772      0.75      0.5     0.033333

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.008772      0.75      0.5     0.033333

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.017544       0.6      0.5     0.041667

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.017544       0.6      0.5     0.041667

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.008772      0.75      0.5     0.033333

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.008772      0.75      0.5     0.033333

   tp_rate  fp_rate  precisao  fn_rate  total_error
0      0.5      0.0       1.0      0.5        0.025

    tp_rate  fp_rate  precisao   fn_rate  total_error
0  0.333333      0.0       1.0  0.666667     0.033333

    tp_rate   fp_rate  precisao   fn_rate  total_error
0  0.333333  0.008772  0.666667  0.666667     0.041667

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.017544       0.6      0.5     0.041667

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.017544       0.6      0.5     0.041667

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.017544       0.6      0.5     0.041667

    tp_rate  fp_rate  precisao   fn_rate  total_error
0  0.333333      0.0       1.0  0.666667     0.033333

    tp_rate   fp_rate  precisao   fn_rate  total_error
0  0.333333  0.008772  0.666667  0.666667     0.041667

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.017544       0.6      0.5     0.041667

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.008772      0.75      0.5     0.033333

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.017544       0.6      0.5     0.041667

   tp_rate   fp_rate  precisao  fn_rate  total_error
0      0.5  0.017544       0.6      0.5     0.041667

In [6]:
all_cen

['k1_l1_h1',
 'k2_l2_h1',
 'k3_l3_h1',
 'k4_l4_h1',
 'k5_l5_h1',
 'k6_l6_h1',
 'k1_l1_h2',
 'k2_l2_h2',
 'k3_l3_h2',
 'k4_l4_h2',
 'k5_l5_h2',
 'k6_l6_h2',
 'k1_l1_h3',
 'k2_l2_h3',
 'k3_l3_h3',
 'k4_l4_h3',
 'k5_l5_h3',
 'k6_l6_h3']

In [7]:
sum(pd.DataFrame([[1,2],[1,2]], columns=['o','o']).sum())

6